.header, .mobileHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid #212530;

  position: fixed;
  z-index: 1;
  width: 100%;
  background: #000;
}

.mobileHeader {
  display: none;
}

.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 540px) {
  .header {
    display: none;
  }
  .mobileHeader {
    display: flex;
  }
}

.header .logo {
  color: #fed82c;
  font-weight: bold;
}

.header button {
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid #fed82c;
  color: #fed82c;
}

.mobileHeader button {
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  color: #fed82c;
}

.mobileSubmenu {
  position: absolute;
  top: 5rem;
  right: 1rem;
  background: #000;
  padding: 2rem;

  transform: translateY(-250%);
  transition: transform 300ms ease;
}

.mobileSubmenu button {
  padding: 0;
}

.mobileSubmenu a {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mobileSubmenu.opened {
  transform: translateY(0%);
}



