.dashboardItem {
  background: #000;
  border-top: 1px solid #212530;
  padding: 1rem 2rem;

  header {
    display: flex;
    align-items: center;
    gap: 0.55rem;
    margin-bottom: 0.55rem;

    span:not(.dashboardItemPosition) {
      margin-left: 0.35rem;
    }
  }

  &:first-of-type {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  &:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.dashboardItemHighlight {
  background: #07281b;
  border-color: #0a0a0a;
}

.dashboardItemPosition {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.2rem 0.25rem;
  border-radius: 100%;
  color: #fed82c;
}

.dashboardItemMainInfo {
  h5 {
    font-weight: normal;
    font-size: 1rem;

    strong {
      font-weight: bold;
    }
  }
  .h5 {
    font-size: 1rem;
    font-weight: bold;
  }


  p, a {
    font-weight: normal;
    font-size: 0.75rem;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0.35rem;
  }
}

.secondaryInfo {
  text-align: right;
  font-size: 0.75rem;
  color: #f3f3f3;
  font-weight: normal;
  margin-bottom: 0.35rem;
  svg {
    margin-left: 3px;
  }
}

.dashboardAvatar img {
  border-radius: 100%;
}

.dashboardInfo button,
.cta a {
  background: none;
  border: none;

  font-size: 0.75rem;

  display: inline-flex;
  align-items: center;

  cursor: pointer;
}

.dashboardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    margin-left: 3px; 
  }
  p {
    font-size: 0.75rem;
  }
  .highlight {
    color: #fed82c;
  }
}

.cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  svg {
    margin-left: 3px;
    color: #fed82c;
  }
  span {
    display: inline-block;
  }
}

@media (max-width: 1024px) {
  .dashboardContainer {
    grid-template-columns: 100%;
  }
  .dashboard {
    justify-self: center;
  }
}
